# Harvest AI Frontend Environment Configuration

# URL to the Harvest AI backend API
VITE_API_BASE_URL=https://localhost:8000/api/v1

# Root server URL for media & static uploads
VITE_SERVER_URL=https://localhost:8000
